<nav class="dt w-100 border-box pa3 ph4-ns">
  <div class="dtc v-mid w-75 tr">
    <h3 class="near-black f6 f5-ns dib mr3 mr4-ns">// Thy Bui</h3>
    <a class="link dark-gray dim hover-gold f6 f5-ns dib mr3 mr4-ns" [routerLink]="['/about']" routerLinkActive="router-link-active" title="About">About</a>
    <a class="link dark-gray dim hover-gold f6 f5-ns dib mr3 mr4-ns" [routerLink]="['/projects']" routerLinkActive="router-link-active" title="projects">Projects</a>
    <a class="link dark-gray dim hover-gold f6 f5-ns dib" [routerLink]="['/blog']" routerLinkActive="router-link-active" title="blog">Blog</a>
  </div>
</nav>
